.container {
    background-color: var(--background);
    opacity: 80%;
    padding: 8px 16px ;
}

.center {
    align-content: center;
}

.head-text {
    font-size: 56px;
    font-weight: 700;
}

.note {
    color: white;
}