.container {
    background-color: var(--background1);
    opacity: 80%;
    padding: 24px 16px;
}

.center {
    align-content: center;
}

.head-text {
    font-size: 56px;
    font-weight: 700;
}

.note {
    color: white;
}