<div class="container">

    <label (click)="navigateToHome()" class="nav-card left">Home</label>
    <label (click)="navigateToProjects()" class="nav-card left">Projects</label>
    <label (click)="navigateToCareer()" class="nav-card left">Career</label>
    <label (click)="navigateToEducation()" class="nav-card left">Education</label>


    <label (click)="navigateToContact()" class="nav-card right">Contact</label>
    <label (click)="navigateToAbout()" class="nav-card right">About This</label>

    <div class="right rel">
        <img src="assets/image/paint.png" alt="color" (mouseenter)="showColorBox = true" class="nav-card icon ">


        <div *ngIf="showColorBox" class="dialog" (mouseleave)="showColorBox = false">

            <div *ngFor="let item of color; let i = index" (click)="updateBackground(item)">

                <input class="m-r-x m-t-2 left" type="radio" id="category" [checked]="item.color1 === backgroundColor"
                    [value]="item" />
                <label class="left" [ngClass]="{
                        'fc-white': backgroundColor === '#e91e63' || backgroundColor === '#9c27b0'  
                      }">

                    {{ item.name }}
                </label>
                <div class="clear"></div>
                <div *ngIf = "i !== 3" class="h-2x"></div>
            </div>

            <!-- <label (click)="updateBackground(dp.value)">
                <input class="m-r-x" type="radio" #dp name="a" value = color[0] [checked]="backgroundColor === dp.value.color1"> Deep Purple
            </label>
            <div class="h-x"></div>
            <label (click)="updateBackground(i.value)">
                <input class="m-r-x" type type="radio" #i name="a" value = "#3f51b5" [checked]="backgroundColor === i.value"> Indigo
            </label>
            <div class="h-x"></div>
            <label (click)="updateBackground(pi.value)">
                <input class="m-r-x" type type="radio" #pi name="a" value = "#e91e63" [checked]="backgroundColor === pi.value"> Pink
            </label>
            <div class="h-x"></div>
            <label (click)="updateBackground(pu.value)">
                <input class="m-r-x" type type="radio" #pu name="a" value = "#9c27b0" [checked]="backgroundColor === pu.value"> Purple
            </label> -->

        </div>
    </div>
    <div class="clear"></div>

</div>