.container {
    background-color: var(--background);
    z-index: 2;
    padding: 8px 16px ;
    box-shadow: 0 3px 5px -1px var(--background);
    // box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

.nav-card {
    padding: 8px 16px;
    color: var(--white);
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-weight: 500;
    border: 1px solid var(--background);
    border-radius: 4px;

}

.nav-card:hover {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer !important;
}

.icon {
    height: 16px;
    width: auto;
}

.dialog{
    z-index: 3;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    padding: 16px;
    background-color: var(--background);
    opacity: 0.8;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}


.dialog label {
    color: var(--white);
}