.container {
    background-color: var(--background1);
    opacity: 80%;
    padding: 8px 16px ;
    height: 70px;
}

.vertical-align {
    height: 70px;
}

.note {
    color: white;
    text-align: center;
    padding: 0px 40px;
}

.icon {
    height: 40px;
    width: auto;
}

.fc-white {
    color: var(--white);
}