<div class="container">
    <label class="note l-h-3x"> This website is developed without using any type of bootstrap or angular material
        packages. To
        give the feeling of design more proficient the template of angular material is being used, but the coding has
        been entirely done by Achal Utkarsh.</label>
    <div class="center">
        <label class="left m-t-2x fc-white"> Achal Utkarsh</label>
        <a href = "https://www.linkedin.com/in/achal-utkarsh-516733113/" target="_blank">
            <img src="assets/image/linkedin.svg" alt="linkedin" class="right icon">
        </a>
        <div class="clear"></div>
    </div>
</div>