<div class="left width-50-per ">
    <div id="donutChart" class="center donutChartStyle">
    </div>
</div>

<div class="left vertical-align">

    <div class="card ">
        <h3 > {{ title }} </h3>
        <label class="m-t-x"> {{ timeline }} </label>

        <div class="div-h h-x2"></div>

        <h4 class="m-t-x m-b-x"> Description </h4>
        <label class="l-h-3x"> {{description}} </label>

        <h4 class="m-t-x m-b-x"> Technology </h4>
        <label> {{ keys }} </label>
    </div>
</div>

<div class="clear"></div>